/**
 * @module js.modules.index
 * @description Manifest for custom modules.
 */

import Starter from './starter.js.example';
// import MyFeature from './my-feature.js'; // Some other private component

export default {
    'starter': Starter,
    // 'my-feature': MyFeature,
};