.map-svg {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;					/* Adjust as needed */
	height: 100%; //100vh;					/* Full height of viewport */
	background-color: #f0f0f0;		/* Optional for visibility */
	overflow: hidden;

	> svg, img {
		all: unset;				/* Reset all inherited and applied styles */
		width: 100%;
		height: 100%;
		max-width: 100%;		/* Optional: for responsiveness */
		max-height: 100%;		/* Optional: for responsiveness */
		display: block;			/* Prevent SVG from adding extra space */
		margin: 0;				/* Remove default margins */
		padding: 0;				/* Remove default padding */
		box-sizing: border-box;	/* Ensure consistent sizing */

		&:hover {
			transform: none;
		}

		.active {
			cursor: pointer;
			stroke: #0098ff;
			fill: #525252;
			stroke-dashoffset: 0%;
			-webkit-transition: .8s ease;
			-moz-transition: .8s ease;
			-ms-transition: .8s ease;
			-o-transition: .8s ease;
		}
	}

	.tooltip {
		position: absolute;
		background: rgba(0, 0, 0, 0.8);
		color: white;
		padding: 5px 10px;
		border-radius: 5px;
		font-size: 12px;
		pointer-events: none;
		display: none;
		z-index: 1000;
	}
}