/*------------------------------------*\
	DROPNAV SCSS
\*------------------------------------*/

 .dropnav-dropbar {
    position: absolute;
    z-index: 980;
    padding: 0;
    left: 0;
    right: 0;
}